*{
    list-style: none;
      text-decoration: none;
      margin: 0;
      box-sizing: border-box;  
    }
    .body{
        font-family: "Urbanist", serif;
        font-optical-sizing: auto ;
    }
    .container{
        padding-top: 50px;
        background-image: linear-gradient(to right, #ffefe2, #EFEAF1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }
    h1{
        color: #525de0;
    }
    .hero-container{
        background-image: linear-gradient(to right, #ffefe2, #EFEAF1);
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: left;
        padding-left: 100px;
        width: 100%;
        padding: 10px 30px;
        height: 100vh;
    }
    .banner-left{
        width: 40%;
    }
    .banner-right{
        width: 60%;
        position: relative;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }

    ul a{
        color:black;
    }
    
    ul a:hover{
        color: #525de0;
    }
    .logo{
        color: #525de0;
    }

    .searchbar{
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .profile{
        display: flex;
        padding: 10px 8px;
        background-color: #6c52e0;
        border: none;
        column-gap: 5px;
        border-radius: 5px;
        font-size: 18px;
        color: white;
    }
.search{
    background-color: #fff;
    border: none;
    padding: 12px 14px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #525de0;
}
/* .profile:hover{
    color: ;
} */
 .banner-right .img03{
    position: absolute;
    top: -5%;
    left: 35%;
}